{% extends 'flock/base_layout.html' %}

{% block content %}
<br>
<br>
<br>

<div class="container">
    <div class="row">
        <div class="col-md-6">
            </div>
        <div class="col-md-6">
            <p>
            1.	Mission and  vision of the church
            <br>
“We are a spiritual family united in a covenant to desire and pursue a Trinitarian fullness for transformational impact to the glory of God” 
Trinitarian fullness is a word that helps us capture the three aspects of a balanced Christian life: 
<br>
-Rooted in the Word of Christ
<br>
-Filled with the Power of the Holy Spirit
<br>
-Aflame with Passion for God the Father
<br>
Our vision is to see a movement of churches both rural and urban whose members PROCLAIM and PORTRAY His glory, and POINT to His return for a perfect Kingdom 
</p>
        </div>
    </div>
    <div class="row">
        
        <div class="col-md-6">
            <p>
            2.Little flock spiritual culture
            <br>
            We are a Church that is: 
            <br>
            ● REFORMED: We are committed to continue the same fight as that of the Reformers, which consists of returning to the pure and apostolic gospel, constantly reforming our lives and believing in the light of all the Scriptures and aspiring to truly become the Church Jesus died to see. 
            <br>
            ● CHARISMATIC: We seek and long for the Spirit, the impartation of his power and his gifts for the glory of God and the perfecting of saints.
            <br>
            ● TRINITARY: The Trinity is not a static doctrine, to be recited without considering the dynamic implications of it for Christian spirituality. We will be committed to pursuing an integrated, holistic spirituality with its central locus in the doctrine of the Trinity.
            <br>
            ● MISSIONARY: Formalism, moral compromise as well as heresies threaten the gospel in our context. We are a church that will plant biblically robust and missionary churches in their drive to take the gospel to places and people groups not yet reached.
            <br>
            ● PROPHETIC: We hope to become a church that awakens other saints about Jesus' return, warns the world of impending judgment, and denounces social sins in the land.
            </p>
        </div>
        <div class="col-md-6">
        </div>
    </div>
    <div class="row">
        <div class="col-md-6">
            </div>
        <div class="col-md-6">
            <p>
            3.Our Faith Statement
            <br>
            We believe that: 
            <br>
            ▪ The bible is the inspired word of God inspired and ineffective and the only infallible rule in matters of faith in life,
            <br>
            ▪ There is one God, eternally existing in three distinct persons, Father Son and Holy Spirit and receive equally devotion, honor and worship.
            <br>
            ▪ Man is created in the image of God as the crowning of his creation to glorify God by enjoying him, was tempted by Satan and rebelled and became subject to the wrath of God. Radically and utterly depraved on the inside and apart from a special work of God's grace he is unable to return to God.
            <br>
            ▪ In the divinity of Jesus Christ, his miraculous birth of a virgin, his sinless life, his substitutionary and propitiatory death which is the foundation of salvation for those who believe and repent.  In His humanity He lived a perfect life for us, died, rose again, ascended to the right hand of God where he intercedes for his people and reigns over everything. We believe in his personal and visible return in power and glory,
            <br>
            ▪ The ministry of the Holy Spirit who convinces the world of its sin, of God's righteousness and of his judgment. By the proclamation of the gospel he persuades men to believe in Jesus Chris, he unites the Believer to Christ through faith, regenerates, dwells the hearts of those who believe sanctify them by gradually conforming them to the Image of Christ, direct them into truth and fill them for holy living and service.
            <br>    
            ▪ That the universal Church is made up of all believers inhabited by the Holy Spirit united with Christ and united among themselves in bonds of love and faith and imparted with the gifts of the Holy Spirit in order to be equipped for his work of ministry. All members of the universal church must be a vital committed part of a local church in order to demonstrate the reality of the Kingdom of God where they live.
            </p>
        </div>
    </div>
    <div class="row">
        
        <div class="col-md-6">
            <p>
                4. CHURCH COVENANT
                <br>
                1. I pledge to meet regularly throughout the week with others, to pray publicly while faithfully maintaining my private and family devotions
                <br>
                2. I pledge to pursue sanctification anytime and anywhere in a way that honors my Lord and does not tarnish the testimony of this church in the eyes of the world. Therefore I will diligently and responsibly pursue spiritual growth through the Path of Discipleship advocated by Little Flock.
                <br>
                3. I pledge to submit to the pastoral leadership of this church receiving  pastoral care, direction correction with humility as well as discipline if my sins prove to be persistent and affecting the rest of the body of Christ.
                <br>
                4. I am committed to giving in a way that proves that I am only a steward of God for all that I have, that I am fond of things above, that the passion of the house God has devoured me and that I love my neighbor. I will sacrifice sacrificially, abundantly, in the spirit of grace not legalism, led by the Spirit and this can never be less than the bare minimum of O.T believer’s standard. I will contribute regularly to church expenses, missions and respond to my community concrete needs. 
                <br>
                6. I am committed to living and serving in this church in a way that is consistent with its vision, mission, statement of faith, and its spiritual culture. 
                <br>
                7. I am committed to preserving unity, walking in love and peace with other members of the Church, weeping with those who cry, rejoicing in their happiness. 
                <br>
                8. If I happen to leave this Church, I pledge to join another that glorifies God, is centered on the Word of God, preaches a true Gospel and believes in regenerated membership, with which I will be able to keep the spirit of this alliance.
                </p>
        </div>
        <div class="col-md-6">
        </div>
    </div>
</div>
<br>
<br>
<br>

{% endblock %}