{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'styles.css' %}">
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="css/bootstrap-responsive.min.css">
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Denk+One&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css" integrity="sha512-Fo3rlrZj/k7ujTnHg4CGR2D7kSs0v4LLanw2qksYuRlEzO+tcaEPQogQ0KaoGN26/zrn20ImR1DfuLWnOo7aBA==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <title>Little Flock Burundi</title>
    <style>
      body{
    background-color:#f6f6f8 ;
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
      }
      .ok{
        color: #6b461b;
        /* font-weight:lighter; */
      }
    </style>
</head>

<header>
    <nav id="navbar" style=" transition: 0.5s;  " class="navbar navbar-expand-md bg-white  fixed-top p-0 ">
      <div class="container-lg">
        <a class="navbar-brand" href="#">
          <img id="logo" src="{% static 'logo.png' %}" alt="Little Flock" style="width: 120px;height: 90px;transition: 0.5s;">
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarCollapse">
          <ul class="navbar-nav ms-auto mb-2 mb-md-0" >
            <li class="nav-item">
              <a class="nav-link active ok" aria-current="page" href="{% url 'flock:home' %}">Home</a>
            </li>
            
            <li class="nav-item" >
              <a class="nav-link active ok"  href="{% url 'flock:about' %}">About us</a>
            </li>

            <li class="nav-item">
              <a class="nav-link active ok" href="{% url 'flock:sermons' %}">Sermons</a>
            </li>
  
            <li class="nav-item">
              <a class="nav-link active ok" href="{% url 'flock:articles' %}">Articles</a>
            </li>
  
            <li class="nav-item">
              <a class="nav-link active ok" href="{% url 'flock:events' %}">Events
                <span class="badge badge-pill badge-dark" style="background-color:#c9a747">{{ upcomingEvents|length }}</span>
                <!-- <span class="badge badge-danger" style="color:red">{{ upcomingEvents|length }}</span> -->
              </a>
              <!-- <a class="nav-link active" href="{% url 'flock:events' %}">Events<span class="badge badge-light" style="color:red">{{ upcomingEvents|length }}</span></a> -->
            </li>
  
            <li class="nav-item">
              <a class="nav-link active ok" href="{% url 'flock:support_us' %}">Support us</a>
            </li>
  
            <li class="nav-item">
              <a class="nav-link active ok" href="{% url 'flock:contacts' %} ">Contacts</a>
            </li>

            <li class="nav-item">
              <a class="nav-link active ok" aria-current="page" href="{% url 'flock:home' %}">En</a>
            </li>

            <li class="nav-item">
              <a class="nav-link active ok" aria-current="page" href="{% url 'flock_kirundi:homeKir' %}">Kir</a>
            </li>
  
          </ul>
        </div>
      </div>
    </nav>
  </header>
  <br>
  


<body>

    {% block content%}

    {% endblock %}

  <!-- fofo -->
  <!-- Footer -->
<footer class="page-footer font-small mdb-color text-center text-white" style="background-color: #c9ae60;">
  <!-- Grid container -->
  <div class="container-fluid p-4">

    <!-- Footer Elements -->
    <div class="">
      
      <!--Grid row-->
      <div class="row">
  
        <!--Grid column-->
        <div class="col-lg-2 col-md-12 mb-4">
          <div class="inner">
              <!--Image-->
              <div class="view overlay z-depth-1-half">
                <img src="{% static 'flock2.jpg' %}" class="img-fluid" style="max-width: 100%; height: auto;"
                  alt="">
                <a href="">
                  <div class="mask rgba-white-light"></div>
                </a>
              </div>
    
          </div>
        </div>
        <!--Grid column-->
  
        <!--Grid column-->
        
          <div class="col-lg-2 col-md-6 mb-4">
            <div class="inner">
              <!--Image-->
              <div class="view overlay z-depth-1-half">
                <img src="{% static 'flock10.jpg' %}" class="img-fluid" style="max-width: 100%; height: auto;"
                  alt="">
                <a href="">
                  <div class="mask rgba-white-light"></div>
                </a>
            </div>
    
          </div>
        </div>
        <!--Grid column-->
  
        <!--Grid column-->
        
          <div class="col-lg-2 col-md-6 mb-4">
            <div class="inner">
            <!--Image-->
            <div class="view overlay z-depth-1-half">
              <img src="{% static 'flock13.jpg' %}" class="img-fluid" style="max-width: 100%; height: auto;"
                alt="">
              <a href="">
                <div class="mask rgba-white-light"></div>
              </a>
            </div>
    
          </div>
        </div>
        <!--Grid column-->
  
        <!--Grid column-->
        
          <div class="col-lg-2 col-md-12 mb-4">
            <div class="inner">
            <!--Image-->
            <div class="view overlay z-depth-1-half">
              <img src="{% static 'flock11.jpg' %}" class="img-fluid" style="max-width: 100%; height: auto;"
                alt="">
              <a href="">
                <div class="mask rgba-white-light"></div>
              </a>
            </div>
    
          </div>
        </div>
        <!--Grid column-->
  
        <!--Grid column-->
        
          <div class="col-lg-2 col-md-6 mb-4">
            <div class="inner">
            <!--Image-->
            <div class="view overlay z-depth-1-half">
              <img src="{% static 'flock12.jpg' %}" class="img-fluid" style="max-width: 100%; height: auto;"
                alt="">
              <a href="">
                <div class="mask rgba-white-light"></div>
              </a>
            </div>
    
          </div>
        </div>
        <!--Grid column-->
  
        <!--Grid column-->
        
          <div class="col-lg-2 col-md-6 mb-4">
            <div class="inner">
            <!--Image-->
            <div class="view overlay z-depth-1-half">
              <img src="{% static 'flock8.jpg' %}" class="img-fluid" style="max-width: 100%; height: auto;"
                alt="">
              <a href="">
                <div class="mask rgba-white-light"></div>
              </a>
            </div>
    
          </div>
        </div>
        <!--Grid column-->
  
      </div>
      <!--Grid row-->
    
    </div>
    <!-- Footer Elements -->
    <!-- Section: Social media -->
    <section class="mb-4">
      <!-- Facebook -->
      <a class="btn btn-outline-light btn-floating m-1" href="#!" role="button"
        ><i class="fab fa-facebook-f"></i
      ></a>

      <!-- Twitter -->
      <a class="btn btn-outline-light btn-floating m-1" href="#!" role="button"
        ><i class="fab fa-twitter"></i
      ></a>

      <!-- Google -->
      <a class="btn btn-outline-light btn-floating m-1" href="#!" role="button"
        ><i class="fab fa-google"></i
      ></a>

      <!-- Instagram -->
      <a class="btn btn-outline-light btn-floating m-1" href="#!" role="button"
        ><i class="fab fa-instagram"></i
      ></a>

      <!-- Linkedin -->
      <a class="btn btn-outline-light btn-floating m-1" href="#!" role="button"
        ><i class="fab fa-linkedin-in"></i
      ></a>

      <!-- Github -->
      <a class="btn btn-outline-light btn-floating m-1" href="#!" role="button"
        ><i class="fab fa-github"></i
      ></a>
    </section>
    <!-- Section: Social media -->

    <!-- Section: Form -->
    <section class="">
      <form action="">
        <!--Grid row-->
        <div class="row d-flex justify-content-center">
          <!--Grid column-->
          <div class="col-auto">
            <p class="pt-2">
              <strong>Sign up for our newsletter</strong>
            </p>
          </div>
          <!--Grid column-->

          <!--Grid column-->
          <div class="col-md-5 col-12">
            <!-- Email input -->
            <div class="form-outline form-white mb-4">
              <input type="email" id="form5Example21" placeholder="Your email" class="form-control" />
            </div>
          </div>
          <!--Grid column-->

          <!--Grid column-->
          <div class="col-auto">
            <!-- Submit button -->
            <button type="submit" class="btn btn-outline-light mb-4">
              Subscribe
            </button>
          </div>
          <!--Grid column-->
        </div>
        <!--Grid row-->
      </form>
    </section>
    <!-- Section: Form -->

  </div>
  <!-- Grid container -->  
</footer>
<!-- Footer -->
<!-- Copyright -->
<div class="text-center p-3" style="background-color: white">
  © {% now "Y" %} Little Flock Burundi | Made with &#10084;&#65039; by :
    <a id="lok" href="https://egeratech.com/" target="_blank" style="text-decoration: none; border: 1px solid green; margin: 5px; background:white; border-radius:5px 5px 5px 5px; padding:2px;font-family: 'Denk One', sans-serif;"><span style="color: green;">egera</span><span style="color: blue; ">Tech</span></a>
</div>
<!-- Copyright -->
  <!-- end fofo -->

  
      
    <script src="{% static 'js/bootstrap.min.js' %}"></script>
    <script>
      // When the user scrolls down 80px from the top of the document, resize the navbar's padding and the logo's font size
      window.onscroll = function() {scrollFunction()};
      
      function scrollFunction() {
        if (document.body.scrollTop > 80 || document.documentElement.scrollTop > 80) {
          document.getElementById("navbar").style.padding = "0px 0px";
          document.getElementById("logo").style.width = "80px";
          document.getElementById("logo").style.height = "60px";
        } else {
          document.getElementById("navbar").style.padding = "0px 0px";
          document.getElementById("logo").style.width = "120px";
          document.getElementById("logo").style.height = "90px";
          document.getElementById("navbar").style.marginBottom = "10px";
        }
      }
      </script>


</body>

    </html>
    