{% extends 'flock/base_layout.html' %} <!--namspace of templates-->
{% load static %}

{% block content %}
{% load static %}
<!-- font Background image -->
    <div class="text-white">
        <img src="{% static 'font1.jpg' %}" class="container-fluid bg-dark vh-100" alt="Little Flock Burundi">
        <div class="card-img-overlay text-center">
            <div class="col-md-3 text-center my-auto">
                <div class="card-img-overlay card-body align-items-center d-flex justify-content-center">

                    <div class="inner">
                        <div class="card-body" id="zoomText">
                            <h1 class="card-title" data-mdb-animation="zoom-in">Little Flock Burundi</h1>
                            <br>
                            <h4 class="card-text">Proclaim the Kingdom that has come through death and resurrection of Jesus Christ,</h4>
                            <h4 class="card-text">portray its present glory and pointto its full glory that is to come.</h4>
                            <br>
                            <a href="{% url 'flock:sermons' %}" style="background-color:#c9ae60; color:white;" class="btn">Go to sermons</a> <!--to link/href a page in django {% url 'flock:sermons' %}-->
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
    <!-- end font Background image -->
    
    <br>

    <!-- =============ABOUT US===============-->
    <div class="container marketing">
        <div class="container">
            <div class="row m-6 justify-content-center">
                <div class="col-md-6 p-3">
                    <h2 class="fw-bold fs-1">About us</h2>
                    <P>We are a covenanted spiritual family that desires and pursues a Trinitarian fullness , for a lasting impact to the glory of God, our joy in Jesus Christ.

                        Trinitarian fullness: <br>
                        - Rooted in the Word of Christ<br>
                        - Filled with the Power of the Holy Spirit <br>
                        - Ablaze with love for the Father</P>
                    <a href="#" style="background-color:#c9ae60; color:white;" class="btn">Know more about us</a>
                </div>
                <div class="col-md-6 ">
                    <div class="inner">
                        <img src="{% static 'aboutus.jpg' %}" class="w-100" alt="">
                    </div>
                </div>
            </div>
        </div>

        <!-- ===============End About Us=========-->

        <br>

        <!-- =============Vision ===============-->
        <div class="container marketing">
            <div class="container">
                <div class="row m-6 justify-content-center">
                    <div class="col-md-6 ">
                        <div class="inner">
                            <img src="{% static 'flock21a.jpg' %}" class="w-100" alt="">
                        </div>
                    </div>
                    <div class="col-md-6 p-3">
                        <h2 class="fw-bold fs-1">Our vision</h2>
                        <P>Our vision is to see strong eschatological communities of both rural and urban churches that proclaim the Kingdom that has come through death and resurrection of Jesus Christ, portray its present glory and point to its full glory that is to come.
                        </P>
                        <a href="#" style="background-color:#c9ae60; color:white;" class="btn">Go somewhere</a>
                    </div>

                </div>
            </div>

            <!-- =============== yari Our Vision=========-->

            <!-- =================Recent Sermons================= -->

            <div class="container marketing">
               
                <div class="container">
                    <div class="row justify-content-center">
                        <h6 style="color:#c9ae60;" class="text-center">Sermons</h6>
                        <h1 class="text-center">Recent Sermons</h1>
                        
                        {% for sermon in sermons %}  <!--sermons is variable of dictionnary in views that recieved data from variable and from db-->

                            <div class="col-md-4">
                                <br>
                                <div class="card shadow" style="width: 20rem; ">
                                    <div class="inner"><img class="card-img-top" width="150" height="230" src="{{ sermon.thumb.url }}"> <!--flock: namespace for templates of app, sermon_detail is name in views of slug url-->
                                    
                                        <br>
                                    </div>
                                    <div class="card-body text-center">
                                        <h4 class="card-title"><a href="{% url 'flock:sermon_detail' slug=sermon.slug %}">{{sermon.title}}</a></h4> <!--flock: namespace for templates of app, sermon_detail is name in views of slug url-->
                                        <p class="card-text"><a href="{% url 'flock:sermon_detail' slug=sermon.slug %}">{{ sermon.snippet}}</a></p> <!--flock: namespace for templates of app, sermon_detail is name in views of slug url-->
                                        <h6 class="card-text"><a href="{% url 'flock:sermon_detail' slug=sermon.slug %}">{{ sermon.date}}</a></h6>

                                        <a style="background-color:#c9ae60; color:white;" class="btn" href="{% url 'flock:sermon_detail' slug=sermon.slug %}">Read More...</a>
                                    </div>

                                </div>

                            </div>
                        
                        {% endfor%}
                    </div>
                </div>

                <br>

                <div class="card-body text-center">
                    <a href="flock/sermons/" style="background-color:#c9ae60; color:white;" class="btn">Other Sermons</a>
                </div>
                <!-- =================End of Recent Sermons================= -->

                <hr class="featurette-divider">
              
                <br>


                <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-/bQdsTh/da6pkI1MST/rWKFNjaCP5gBSY4sEBT38Q/9RBh9AH40zEOg7Hlq2THRZ" crossorigin="anonymous"></script>


{% endblock %}