 {% extends 'flock/base_layout.html' %} <!--namspace of templates-->
 {% load static %}

 {% block content %}
<br>


    <!-- font Background image -->

    <div class="card" style="margin-top: 50px;">
        
        <div class="card shadow text-white" style="background: black;
        overflow: hidden;" >
    
        <img src="{% static 'font1.jpg' %}" class="img-fluid" style="max-width: 100%; height: 550px; object-fit: cover;
        opacity: 0.4;" alt="Little Flock Burundi">

        <div class="card-img-overlay text-center">

            {% comment %} card for up coming events hejuru y'ifoto{% endcomment %}
            
            {% for upcomingEvent in upcomingEventss %}
            
                <div class="alert alert-warning col-md-3 toast alert-dismissible fade show" role="alert" style="position: absolute; top: 4; right: 0;">
                
                    <img src="{{ upcomingEvent.photo.url }}" class="img-fluid" style="max-width: 100%; height: auto;" alt="">
                    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
              </div>
           
              {% endfor%}
                

                    {% comment %} text sasa zo hejuru y'ifoto {% endcomment %}
            <div class="col-md-3 text-center my-auto">
                <div class="card-img-overlay card-body align-items-center col-md d-flex justify-content-center">

                    <div class="inner">
                        <div class="card-body" id="zoomText">
                            <h1 class="card-title" data-mdb-animation="zoom-in" >Little Flock Burundi</h1>
                            <br>
                            <h5 class="card-text">A Trinitarian Fullness for a Transformational Impact</h5>
                            <h5 class="card-text">to the Glory of God.</h5>
                            <br>
                            <a href="{% url 'flock:sermons' %}" style="background-color:#c9ae60; color:white;" class="btn">Go to sermons</a>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
    </div>
    <!-- end font Background image -->


    <!-- =============ABOUT US===============-->
 <!-- {% comment %} <div class="container marketing"> {% endcomment %} -->
    <div class="container">
        <div class="row shadow justify-content-center bg-white">
            <div class="col-md-6 p-4">
                <h2 class="fw-bold fs-1">About us</h2>
                <P>We are a spiritual family united in a covenant to desire and pursue a Trinitarian fullness for transformational impact to the glory of God. Trinitarian fullness is a word that helps us capture the three aspects of a balanced Christian life:</br>

                    <P> - Rooted in the Word of Christ</P>
                    <P> - Filled with the Power of the Holy Spirit </P>
                    <P> - Aflame with Passion for God the Father</P>
                    
                        <a href="{% url 'flock:about' %}" style="background-color:#c9ae60; color:white;" class="btn">Read more</a>
                    
            </div>
            <div class="col-md-6 ">
                <div class="inner">
                    <img src="{% static 'aboutus.jpg' %}" class="w-100" style="max-width: 100%; height: auto;" alt="">
                </div>
            </div>
        </div>
     <br>
     <br>
     <br>
        <!-- ===============End About Us=========-->

        <!-- =============Vision ===============-->
      <!-- <div class="container"> -->
        <div class="row shadow m-6 justify-content-center bg-white">
            <div class="col-md-6 ">
                <div class="inner">
                    <img src="{% static 'flock21a.jpg' %}" class="w-100" style="max-width: 100%; height: auto;" alt="">
                </div>
            </div>
            <div class="col-md-6 p-5">
                <h2 class="fw-bold fs-1">Our vision</h2>
                <P>Our vision is to see a movement of churches both rural and urban whose members PROCLAIM and PORTRAY His glory, and POINT to His return for a perfect Kingdom.
                </P>
                
                <a href="{% url 'flock:about' %}" style="background-color:#c9ae60; color:white;" class="btn">Read more</a>
                
            </div>
        </div>


            <!-- =============== yari Our Vision=========-->
            <br>
            <br>
            <!-- =================Recent Sermons================= -->

            
        <div class="row justify-content-md-center">
            <h6 style="color:#c9ae60;" class="text-center">Sermons</h6>
            <h1 class="text-center">Recent Sermons</h1>
            <br>
            <br>
            <br>
            {% for sermon in sermons %}  <!--sermons is variable of dictionnary in views that recieved data from variable and from db-->
                <div class="col-md-4 d-flex justify-content-center text-center">
                   
                    <div class="card shadow" style="width: 18rem; ">
                        <div class="inner">
                            <img class="card-img-top" style="max-width: 100%; height: auto;" src="{{ sermon.photo.url }}"> <!--flock: namespace for templates of app, sermon_detail is name in views of slug url-->
                        
                            <br>
                        </div>
                        <div class="card-body text-center">

                            <h4 class="card-title"><a href="{% url 'flock:sermon_detail' slug=sermon.slug %}" >{{sermon.title}}</a></h4> <!--flock: namespace for templates of app, sermon_detail is name in views of slug url-->
                            <p class="card-text">{{ sermon.snippet}}</p> <!--flock: namespace for templates of app, sermon_detail is name in views of slug url-->
                            <h6 class="text-muted">{{ sermon.date}}</h6>
          {% comment %} 
                            <a style="background-color:#c9ae60; color:white;" class="btn" href="{% url 'flock:sermon_detail' slug=sermon.slug %}">Read More...</a> {% endcomment %}
                        </div>

                    </div>
                    <br>
                </div>
            {% endfor%}
        </div>
   

     <br>

     <div class="inner">
        <div class="card-body text-center">
            <a href="{% url 'flock:sermons' %}" style="background-color:#c9ae60; color:white;" class="btn">Other Sermons</a>
        </div>
     </div>

                <!-- =================End of Recent Sermons================= -->

              
                            <!-- =================Recent Articles================= -->
                            <br>
                            <br>
        <div class="row justify-content-center">
            <h6 style="color:#c9ae60;" class="text-center">Articles</h6>
            <h1 class="text-center">Recent Articles</h1>
            <br>
            <br>
            <br>
            {% for article in articles %}  <!--articles is variable of dictionnary in views that recieved data from variable and from db-->
                <div class="col-md-4 d-flex justify-content-center text-center">
                   
                    <div class="card shadow" style="width: 18rem; ">
                        <div class="inner">
                            <img class="card-img-top" style="max-width: 100%; height: auto;" src="{{ article.photo.url }}"> <!--flock: namespace for templates of app, article_detail is name in views of slug url-->
                        
                            <br>
                        </div>
                        <div class="card-body text-center">

                            <h4 class="card-title"><a href="{% url 'flock:article_detail' slug=article.slug %}">{{article.title}}</a></h4> <!--flock: namespace for templates of app, article_detail is name in views of slug url-->
                            <p class="card-text">{{ article.snippet}}</p> <!--flock: namespace for templates of app, article_detail is name in views of slug url-->
                            <h6 class="text-mutedy">{{ article.date}}</h6>
      {% comment %} 
                            <a style="background-color:#c9ae60; color:white;" class="btn" href="{% url 'flock:article_detail' slug=article.slug %}">Read More...</a> {% endcomment %}
                        </div>

                    </div>
                    <br>
                </div>
            
            {% endfor%}
        </div>
     


     <br>

        <div class="inner">
            <div class="card-body text-center">
                <a href="{% url 'flock:articles' %}" style="background-color:#c9ae60; color:white;" class="btn">Other Articles</a>
            </div>
        </div>
    
                <!-- =================End of Recent Articles================= -->

                <!--Yutube video-->
        <br>
        <br>
        <div class="row d-flex justify-content-center">
            <h6 style="color:#c9ae60;" class="text-center">Youtube videos</h6>
            <h1 class="text-center">Little Flock Burundi</h1>
            
            {% for video in videos %}

                <div class="col-md-4 d-flex justify-content-center text-center">
                    <br>
                        <div class="embed-responsive embed-responsive-16by9">
                            <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/{{ video.snippet}}" style="width: 18rem; "allowfullscreen></iframe>
                            </div>
                            
                </div>
            {% endfor%}

        </div>
    
            
     <br>
     <div class="inner">
     <div class="card-body text-center">
        <a href="https://www.youtube.com/channel/UCbjZ4CtsHcdz5E8-HatdAhg/featured" style="background-color:#c9ae60; color:white;" class="btn">Go to youtube channel</a>
     </div>
      </div>
     <br>
     <!--End youtube video-->


     <!-- <hr class="featurette-divider"> -->
    
     <br>


       <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-/bQdsTh/da6pkI1MST/rWKFNjaCP5gBSY4sEBT38Q/9RBh9AH40zEOg7Hlq2THRZ" crossorigin="anonymous"></script>

    </div>

{% endblock %}