{% extends 'flock/base_layout.html' %}

{% block content %}
    
    <div class="card shadow mb-3">
        <img class="card-img-top" src="{{ sermon.photo.url }}" alt="Sermon detail">
        <div class="card-body">
          <h4 class="card-title text-center" style="text-decoration: none; color: #c9a747;">{{ sermon.title }}</h4>
          <p class="card-text text-center">{{ sermon.body }}</p>
          <p class="card-text text-center"><small class="text-muted">{{ sermon.date }}</small></p>
        </div>
      </div>
      <br>


{% endblock %}