{% extends 'flock/base_layout.html' %}

{% block content %}
<div class="container marketing">
<div class="container">
    <br>
    <br>
    <div class="row justify-content-center">
      <h6 style="color:#c9ae60;" class="text-center">Sermons</h6>
      <h1 class="text-center">All Sermons</h1>
      
      <div class="row justify-content-center">
        {% for sermon in sermons %}  <!--sermons is variable of dictionnary in views that recieved data from variable and from db-->

            <div class="col-md-4 d-flex justify-content-center text-center">
                <br>
                <div class="card shadow" style="width: 18rem; ">
                    <div class="inner"><img class="card-img-top" style="max-width: 100%; height: auto;" src="{{ sermon.photo.url }}">
                    
                        <br>
                    </div>
                    <div class="card-body text-center">
                        <h4 class="card-title"><a href="{% url 'flock:sermon_detail' slug=sermon.slug %}">{{sermon.title}}</a></h4> <!--flock: namespace for templates of app, sermon_sermon_detail is name in views of slug url-->
                        <p class="card-text">{{ sermon.snippet}}</a></p>
                        <h6 class="text-muted">{{ sermon.date}}</h6>
                         <!--flock: namespace for templates of app, sermon_sermon_detail is name in views of slug url-->
    {% comment %} 
                        <a style="background-color:#c9ae60; color:white;" class="btn" href="{% url 'flock:sermon_detail' slug=sermon.slug %}">Read More...</a> {% endcomment %}
                    </div>

                </div>
                
            </div>
           
        {% endfor %}
        </div>
    </div>
</div>

</div>

{% endblock %}