{% extends 'flock/base_layout.html' %}

{% block content %}
<br>
<div class="container">
  <div class="card shadow mb-3">
    <div class="card-body">
      <div class="inner">
        <img class="card-img-top " src="{{ sermon.photo.url }}" alt="Sermon detail" style="max-width: 40%; height: auto;">
      </div>
    </div>
    <div class="card-body">
      <h4 class="card-title" style="text-decoration: none; color: #c9a747;">{{ sermon.title }}</h4>
      <p class="card-text ">{{ sermon.body }}</p>
      <p class="card-text "><small class="text-muted">{{ sermon.date }}</small></p>
      
      <h6 class="card-body" ><a style="text-decoration: none; color: #c9a747;" href="{% url 'flock:contacts' %} ">Comment</a></h6>
    </div>

    <br>

  </div>
  <br>

  <div class="row">
    <div class="col-sm-6 ">
        <div class="card shadow ">
            <div class="card-header  text-center " style="background-color:#c9ae60;color:white;">Recent Sermons</div>
            <div class="card-body">
                <div class="col-md-12">
                  {% for recentSermon in recentSermons %}
                    <div class="contact-item d-flex mb-3">
                        <div class="text ms-3 ">
                            <h4 class="text-muted m-0"><a href="{% url 'flock:sermon_detail' slug=recentSermon.slug %}" >{{recentSermon.title}}</a></h4> <!--flock: namespace for templates of app, sermon_detail is name in views of slug url-->

                        </div>
                    </div>
                  {% endfor%}
                </div>
            </div>
          </div>
    </div>
  </div>
</div>
<br> 
<br>


{% endblock %}