/* Googlefont Poppins CDN Link */

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    background: #f0f0f0f0
}

.container {
    margin-top: 8%;
    /*whatever your max-width should be */
}

.inner {
    overflow: hidden;
}

.inner img {
    transition: all 1.5s ease;
}

.inner:hover img {
    transform: scale(1.5);
}

.inner a {
    transition: all 1.5s ease;
}

.inner:hover a {
    transform: scale(1.5);
}


/* for font image */


/* end for font image */


/* card of our programs */