{% extends 'flock_kirundi/base_layoutKir.html' %}

{% block content %}
    <div class="card shadow mb-3">
        <img class="card-img-top" src="{{ articleKir.photo.url }}" alt="article Kirundi detail">
        <div class="card-body">
        <h4 class="card-title text-center">{{ articleKir.title }}</h4>
        <p class="card-text text-center">{{ articleKir.body }}</p>
        <p class="card-text text-center"><small class="text-muted">{{ articleKir.date }}</small></p>
        </div>
    </div>
    <br>

{% endblock %}